#story{
    color: darkorange;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pagelink{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link{
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form{
    color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

Body{
    background-image: url(../Images/8bFepetbzzFAHgVtedomFQ-3389338564.jpg);
}
